/* Generics */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* Utilities */

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.w-20 {
  width: 20%;
}

.w-60 {
  width: 60%;
}

.w-80 {
  width: 80%;
}

.w-40 {
  width: calc(40% - 50px);
}

.w-30 {
  width: 30%;
}

.w-17 {
  width: 17.5%;
}

.col {
  float: left;
}

a {
  text-decoration: none;
}

#margin-section {
  margin-bottom: 350px;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

/* Buttom */

.btn-white {
  background-color: white;
  color: black;
}

.btn-dark {
  background-color: black;
  color: white;
}

.btn-blue {
  background-color: #8ea1e1;
  color: white;
}

/* Button large */

.btn-l {
  padding: 15px 30px;
  border-radius: 30px;
  margin-right: 30px;
}

.content .btn-l a {
}

/* Button small */

.btn-s a {
  padding: 10px 15px;
  border-radius: 20px;
}

.btn-s {
  text-align: right;
}

/* Header */

header {
  margin-bottom: 80px;
}

.main-header {
  height: 70px;
  background-color: #3161e0;
  line-height: 70px;
}

/* Header Navbar */
ul {
  text-align: center;
}

.main-header ul li {
  display: inline;
  margin-right: 40px;
}

ul li a {
  color: white;
}

/* Spotlight */

.spotlight {
  height: 500px;
  background-image: url("../img/jumbo.png");
  background-size: cover;
  position: relative;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);
  text-align: center;
  color: white;
}

.spotlight h1 {
  font-size: 50px;
  margin-bottom: 40px;
}

.spotlight p {
  font-size: 19px;
  margin-bottom: 40px;
  line-height: 30px;
}

#arrow {
  font-size: 20px;
  font-weight: bold;
}

/* Section contenet */

.section-content h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 20px;
}

.section-content p {
  font-size: 19px;
  line-height: 140%;
}

#img-col {
  margin-right: 50px;
}

/* Section above footer */

.text-f {
  display: inline-block;
}

.above-footer .text-f {
  margin-left: 100px;
}

.above-footer .text-f h2 {
  font-size: 49px;
  margin-bottom: 24px;
}

.above-footer .text-f p {
  font-size: 20px;
}

.photo-f img {
  width: 100%;
}

.download-footer {
  text-align: center;
  margin-bottom: 150px;
}

.download-footer h2 {
  font-size: 30px;
  margin-bottom: 40px;
}

.download-footer img {
  width: 570px;
  position: relative;
}

/* Footer */

footer {
  background-color: #23272a;
  height: 650px;
}

footer .footer-content {
  padding-top: 100px;
}

.footer-content h2 {
  font-size: 30px;
  color: #7289da;
}

.footer-content img {
  margin-top: 10px;
  width: 24px;
}

.language p {
  display: inline-block;
  color: white;
}

.footer-content ul {
  list-style: none;
  text-align: left;
  line-height: 12px;
}
